# Supabase
SUPABASE_URL=https://mjphpctvuxmbjhmcscoj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qcGhwY3R2dXhtYmpobWNzY29qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMjgzMzQsImV4cCI6MjA4NzgwNDMzNH0.dsmzK7SS4_RSC5wbN6ifhjRlOSbfDZjIcfh2MKkDQIs
SUPABASE_SERVICE_KEY=your_service_role_key_here

# Jitsi
JICOFO_AUTH_PASSWORD=changeme_jicofo
JIGASI_XMPP_PASSWORD=changeme_jigasi
JVB_AUTH_PASSWORD=changeme_jvb
